<div class="title text-center">
    <h1 >Available Sitting Requests:</h1>
</div>
<div class="container">
  <div class="row">
    <% @sittings.each do |sitting| %>
      <div class="col-xs-12 col-sm-4"><!--<%= link_to sitting_path(sitting)  %>-->
        <div class="card" >
          <div class="owner" >
            <%= image_tag "avatar_pic.jpg", alt: "owner_avatar_picture", class: "avatar_image" %>
            <div class="owner-name">
              <%= sitting.owner.name %>
            </div>
            <div class="owner-address" >
              <%= sitting.owner.address %>
            </div>
          </div> <!-- end of owner. Left part of the card -->

          <div class="pet">
            <ul><!--Pet infor. right part of the card -->
              <% sitting.owner.pets.each do |pet| %>
                <li>
                  <div class="pet-name">
                    <%= pet.name %>
                  </div><!--pet-name-->
                  <div class="pet-image">
                    <%= image_tag "avatar_pic.jpg", alt: "pet_avatar_picture", class: "pet_avatar" %>
                  </div><!-- pet-image-->
                  <div class="pet-info">
                    <p><%= pet.info %></p>
                  </div><!-- pet-info-->
                </li>
              <% end %> <!-- end pet detail loop -->
            </ul>
            <div class="plus-pets">
              <!-- HERE WE PLACE FONT AWESOME PLUS -->
            </div><!-- plus-pets-->
          </div><!-- pet-->
          <div class="sitting-period">
            <div class="sitting-title">
              <p>Sitting period</p>
            </div><!--sitting-title-->
            <div class="sitting-dates">
              <p><%= sitting.start_date %></p>
              <p><%= sitting.end_date %></p>
            </div><!--sitting-dates-->
          </div><!--sitting-period-->
        </div> <!-- end div card -->
      </div><!--bootstrap grid-->
    <% end %><!--end sitting loop-->
  </div><!--row-->
</div> <!-- container-->
