<h1>Sittings#index</h1>
<p>Find me in app/views/sittings/index.html.erb</p>
<div class="title text-center">
    <h1 >Available Sitting Requests:</h1>
</div>
<div class="container">
  <div class="row">
    <% @sittings.each do |sitting| %>
      <div class="col-xs-12 col-sm-4"><%= link_to sitting_path(sitting) do %>
          <div class="sitting-card" >
            <div class="owner" >
              <%= sitting.owner.name %>
              <%= image_tag "avatar_pic.jpg", alt: "owner_avatar_picture", class: "owner_avatar_image" %>
              <div class="owner_description" >
                <p><%= sitting.owner.description %></p>
              </div>
            </div>
            <ul>
              <li>
                <% sitting.owner.pets.each do |pet| %>
                  <div class="pet-image">
                    <%= pet.name %>
                    <%= image_tag "avatar_pic.jpg", alt: "pet_avatar_picture", class: "pet_avatar_image" %>
                  </div>
                  <div class="pet-info">
                    <p><%= pet.info %></p>
                  </div>
                <% end %> <!-- end pet detail loop -->
              </li>
            </ul>
<!-- this is a comment so we can commit -->
            <!-- sitting period line under main card area -->
            <div class="card_footer_sitting_period">
              <div class="sitting_from">
                <p>Start Date</p>
                <p><%= sitting.start_date %><p>
              </div>
              <div class="sitting_to">
                <p>End Date</p>
                <p><%= sitting.end_date %><p>
              </div>
            </div>

          </div> <!-- end div sitting card -->
      </div> <!-- end div sitting card grid. cols-xs12 col-sm-4 -->
      <% end %> <!-- end grid loop -->
  </div>
  <% end%>
</div>
