<div class="header", style="margin-top: 100px">
  <div class="show-name text-center">
    <h1>Sitting info</h1>
  </div>
</div>

<div class="sitting-information">
  <div class="owner-and-pet">
    <div class="show-owner">
      <h4>Owner:</h4>
      <div class="owner-image"><%#= image_tag %></div>
      <div class="owner-name">
        <ul>
          <li>name: <%= @owner.name %></li>
          <li>user name: <%= @owner.user_name %></li>
          <li>address: <%= @owner.address %></li>
          <li>phone number: <%= @owner.phone_number %></li>
          <li>email: <%= @owner.email %></li>
          <li>description: <%= @owner.description %></li>
        </ul>
      </div>
    </div>
    <% @pets.each do |pet| %>
      <div class="show-pets">
        <% if @pets.length == 1 %>
          <h4>Pet</h4>
        <% else %>
          <h4>Pets</h4>
        <% end %>
        <div class="pet-image"></div>
        <div class="pet-info">
          <ul>
          <li>name: <%= pet.name %></li>
          <li>species: <%= pet.species %></li>
          <li>info: <%= pet.info %></li>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sitting-description text-center">
    <div class="specific-sitting-description">
      <% if @sitting.description != nil %>
        <h4>Sitting description</h4>
        <%= @sitting.description %>
      <% end %>
    </div>
    <div class="sitting-date">
      <h4>Date:</h4>
      <%= @sitting.start_date %> - <%= @sitting.end_date %>
    </div>
  </div>
  <div class="apply-to-sitting">
    <% if @sitting.sitter.nil? %>
    <%= link_to "Apply for sitting", sitting_path(@sitting), method: :patch , class: "btn btn-primary" %>
    <% else %>
      <div class="btn btn-success">
        Applied successfully
      </div>
    <% end %>
      <!-- Apply for sitting -->
  </div>
</div>
